@import '../node_modules/normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #3A4145;
  font-family: "Merriweather", sans-serif;
  font-size: 1.8rem;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 800px;
  margin: 5rem auto 0;
  padding: 0 1.75rem;
}

p {
  text-indent: 3rem;
}

@media screen and (max-width: 768px) {
  main {
    margin: 2rem 0;
    padding: 0 3rem;
  }

  p {
    text-indent: 0;
  }
}
