extends ../layouts/default.pug

block content
  main
    h1 David Zukowski
    section
      p Hey there, I'm a web application developer currently obsessed with functional programming. I work professionally on large scale ReactJS applications, and in my free time enjoy contributing to the open source community and playing around with Clojure and Elm. Outside of work, I spend much of my time reading, playing tennis, and traveling.
      p In the past I have worked on enterprise AngularJS applications, and before that developed websites for clients including Hilton Worldwide, Kimberly Clark, and Smucker's Natural Foods.
    section
      h2 Writing
      ul
        li
          a(href='/blog/eradicate-runtime-errors-in-react-with-flow')
            | #[small (2016)] Eradicate Runtime Errors in React with Flow
        li
          a(href='/blog/from-redux-to-graphql')
            | #[small (2015)] From Redux to GraphQL
        li
          a(href='/blog/new-to-javascript-avoid-angular')
            | #[small (2015)] New to JavaScript? Avoid Angular
        li
          a(href='/blog/where-flux-went-wrong')
            | #[small (2015)] Where Flux Went Wrong
