extends ../layouts/default.pug

block content
  main
    h1 David Zukowski
    section
      p Hey there, I'm a software engineer living in Bellevue, WA, where I work on #[a(href="https://products.office.com/en-us/microsoft-teams/group-chat-software") Microsoft Teams] at #[a(href="https://www.microsoft.com") Microsoft]. I work professionally on large scale ReactJS applications, and in my free time enjoy contributing to the open source community and playing around with Clojure and other lisps. Outside of work, I spend much of my time reading, playing tennis, and traveling.
      p Previously, I worked on enterprise AngularJS applications, and before that developed websites for clients including Hilton Worldwide, Kimberly Clark, and Smucker's Natural Foods.
    section
      h2 Writing
      ul
        li
          a(href='/blog/eradicate-runtime-errors-in-react-with-flow')
            | (2016) Eradicate Runtime Errors in React with Flow
        li
          a(href='/blog/from-redux-to-graphql')
            | (2015) From Redux to GraphQL
        li
          a(href='/blog/new-to-javascript-avoid-angular')
            | (2015) New to JavaScript? Avoid Angular
        li
          a(href='/blog/where-flux-went-wrong')
            | (2015) Where Flux Went Wrong
