extends ../layouts/default.pug

block content
  main
    section
      p Hey there, my name is #[strong David Zukowski]. I'm a software engineer living in Bellevue, WA, where I work on #[a(href="https://products.office.com/en-us/microsoft-teams/group-chat-software") Microsoft Teams] at #[a(href="https://www.microsoft.com") Microsoft]. I specialize in enterprise-scale web applications (lately React), and am mostly interested making the web performant and accessible. I've also helped develop websites for clients including #[strong Hilton Worldwide], #[strong Kimberly Clark], and #[strong Smucker's Natural Foods].
      p In my free time, I enjoy contributing to the open source community and playing around with languages such as Clojure and Elixir. Outside of work, I spend much of my time reading, playing tennis, and traveling.
    section
      h2 Writing
      ul
        li
          a(href='/blog/eradicate-runtime-errors-in-react-with-flow')
            | (2016) Eradicate Runtime Errors in React with Flow
        li
          a(href='/blog/from-redux-to-graphql')
            | (2015) From Redux to GraphQL
        li
          a(href='/blog/new-to-javascript-avoid-angular')
            | (2015) New to JavaScript? Avoid Angular
        li
          a(href='/blog/where-flux-went-wrong')
            | (2015) Where Flux Went Wrong

      h2 Open Source
      ul
        li
          a(href='https://github.com/davezuko/redash')
            | Redash: Pragmatic functional programming in JavaScript
        li
          a(href='https://github.com/davezuko/react-reformed')
            | React Reformed: Simplified form bindings for React
